<div class="container mx-auto">
    <div class="mb-8">

        <!-- Breadcrumb -->
        <nav class="flex items-center gap-2 text-sm text-gray-500 my-6">
            <a routerLink="/home" class="text-black font-medium">Home</a>
            <span class="text-gray-300">/</span>
            <span class="text-gray-900 font-medium">My Orders</span>
        </nav>

        <!-- Header -->
        <div class="flex flex-col sm:flex-row sm:items-center justify-between gap-4">

            <!-- Left -->
            <div class="flex items-center gap-4">
                <div
                    class="w-14 h-14 rounded-2xl bg-gradient-to-br bg-green-600 from-primary-500 to-primary-600 flex items-center justify-center shadow-lg shadow-primary-500/25">
                    <i class="fa-solid fa-box-open text-2xl text-white"></i>
                </div>

                <div>
                    <h1 class="text-2xl sm:text-3xl font-bold text-gray-900">
                        My Orders
                    </h1>
                    <p class="text-gray-500 text-sm mt-0.5">
                        Track and manage your 2 orders
                    </p>
                </div>
            </div>

            <!-- Right Button -->
            <a routerLink="/products"
                class="self-auto flex items-center gap-2 rounded-xl text-sm font-medium text-primary-600 hover:text-primary-700 hover:bg-primary-50 transition-all">
                <i class="fa-solid fa-bag-shopping text-xs"></i>
                Continue Shopping
            </a>

        </div>
    </div>

    <div
        class="bg-white my-7 rounded-2xl border border-gray-100 shadow-sm hover:shadow-md hover:border-gray-200 transition-all duration-300 overflow-hidden">
        @for (order of orderList(); track $index) {
        <div class="p-5 sm:p-6 border-b-2 border-gray-200">
            <div class="flex gap-5">

                <!-- Image -->
                <div class="relative shrink-0">
                    <div
                        class="w-24 h-24 sm:w-28 sm:h-28 rounded-2xl bg-gradient-to-br from-gray-50 to-white border border-gray-100 p-2.5 overflow-hidden">
                        <img [src]="order.cartItems[0].product.imageCover" class="w-full h-full object-contain" />
                    </div>
                    <span
                        class="absolute -top-2 -right-2 w-7 h-7 bg-gray-900 text-white text-xs font-bold rounded-full flex items-center justify-center shadow-lg">
                        +{{order.cartItems.length}}
                    </span>
                </div>

                <!-- Content -->
                <div class="flex-1 min-w-0">

                    <!-- Header -->
                    <div class="flex justify-between items-start mb-3">
                        <div>

                            <!-- Status -->
                            <span class="inline-flex items-center gap-1.5 px-2.5 py-1 bg-amber-100 rounded-lg mb-2">
                                <i class="fa-solid fa-clock text-xs text-amber-600"></i>
                                @if (order.isDelivered) {
                                <span class="text-xs font-semibold text-amber-600">Delivered</span>
                                }@else {
                                <span class="text-xs font-semibold text-amber-600">On the Way</span>
                                }
                            </span>

                            <!-- Order ID -->
                            <h3 class="font-bold text-gray-900 text-lg flex items-center gap-2">
                                <i class="fa-solid fa-hashtag text-xs text-gray-400"></i>
                                {{order.id}}
                            </h3>
                        </div>

                        <!-- Price icon -->
                        <div class="w-10 h-10 rounded-xl flex items-center justify-center bg-gray-100">
                            <i class="fa-solid fa-money-bill text-gray-600"></i>
                        </div>
                    </div>

                    <!-- Meta Info -->
                    <div class="flex flex-wrap items-center gap-3 text-sm text-gray-500 mb-4">

                        <span class="flex items-center gap-1.5">
                            <i class="fa-solid fa-calendar-days text-xs text-gray-400"></i>
                            {{order.createdAt}}
                        </span>

                        <span class="w-1 h-1 bg-gray-300 rounded-full"></span>

                        <span class="flex items-center gap-1.5">
                            <i class="fa-solid fa-box text-xs text-gray-400"></i>
                            {{order.cartItems.length}} items
                        </span>

                        <span class="w-1 h-1 bg-gray-300 rounded-full"></span>

                        <span class="flex items-center gap-1.5">
                            <i class="fa-solid fa-location-dot text-xs text-gray-400"></i>
                            {{order.shippingAddress?.city}}
                        </span>

                    </div>

                    <!-- Footer -->
                    <div class="flex items-center justify-between">
                        <div>
                            <span class="text-2xl font-bold text-gray-900">Total Price: <span class="text-orange-800">{{order.totalOrderPrice}}</span></span>
                            <span class="text-sm font-medium text-gray-400 ml-1">EGP</span>
                        </div>

                        <button (click)="toggleOrderDetails(order._id)"
                            [class.bg-green-600]="openedOrderId() === order._id"
                            [class.text-white]="openedOrderId() === order._id"
                            class="flex items-center gap-2 px-4 py-2.5 cursor-pointer hover:opacity-85 rounded-xl text-sm font-semibold bg-gray-100 text-gray-700 transition-all">
                            @if (openedOrderId() !== order._id) {
                            Details
                            <i class="fa-solid fa-chevron-down text-xs"></i>
                            } @else {
                            Hide
                            <i class="fa-solid fa-chevron-up text-xs"></i>
                            }
                        </button>

                    </div>



                </div>


            </div>

            @if (openedOrderId() === order._id) {
            <div class="border-t border-2 border-gray-100 bg-gray-50/80 rounded-2xl my-5">
                @for (item of order.cartItems; track item._id) {
                <div class="p-5 sm:p-6">
                    <h4 class="font-semibold text-gray-900 text-sm flex items-center gap-2 mb-4">
                        <div class="w-6 h-6 rounded-lg bg-primary-100 flex items-center justify-center">
                            <i class="fa-solid fa-receipt"></i>
                        </div>Order Items
                    </h4>
                    <div class="space-y-3">
                        <div class="flex items-center gap-4 p-4 bg-white rounded-xl border border-gray-100">
                            <div class="w-16 h-16 rounded-xl bg-gray-50 p-2 shrink-0">
                                <img [alt]="item.product.title" class="w-full h-full object-contain"
                                    [src]="item.product.imageCover">
                            </div>
                            <div class="flex-1 min-w-0">
                                <p class="font-medium text-gray-900 truncate">{{item.product.title}}</p>
                                <p class="text-sm text-gray-500 mt-1"><span class="font-medium text-gray-700">
                                        {{item.count}} </span> x
                                    {{item.price}} EGP</p>
                            </div>
                            <div class="text-right shrink-0">
                                <p class="text-lg font-bold text-gray-900">{{item.count * item.price}}</p>
                                <p class="text-xs text-gray-400">EGP</p>
                            </div>
                        </div>


                    </div>
                </div>
                }
                <div class="flex justify-between items-center p-5">
                    <p class="text-lg font-bold text-gray-900">Shipping Price: {{order.shippingPrice}} EGP</p>
                    <p class="text-lg font-bold text-gray-900">Tax Price: {{order.taxPrice}} EGP</p>
                </div>
            </div>
            }
        </div>
        }
    </div>
</div>